include ./mixins/navbar

doctype html
html
  head
    title Lab3
    block styles
      link(rel='stylesheet' href='/public/css/main.css')
      link(rel="stylesheet" href="/public/css/bootstrap.min.css")
  body
    +nav(Lab3, 'main_menu')
        +nav_item( '/' ) Домашня сторінка
        +nav_item( '/space_Stations' ) Космічні станції
        +nav_item( '/planets' ) Планети
        +nav_item( '/cargos' ) Вантаж
        +nav_item( '/cargoOnPlanets' ) Доставка вантажу на планету
        +nav_item( '/cargoOnStations' ) Доставка вантажу на станцію
    div.main.container
        block content
    block scripts
        script(src="/public/js/jquery-3.1.1.min.js")
        script(src="/public/js/bootstrap.min.js")
        script(src='/public/js/main.js')