extends ../layout

block content
    h3 Вантаж на станціях
    form(class="form-inline")
        div(class="form-group")
            label ID
            input(type="number" class="form-control" id="inputId")
        div(class="form-group")
            label Станція
            input(type="text" class="form-control" id="inputSpaceStation")
        div(class="form-group")
            label Вантаж
            input(type="number" class="form-control" id="inputCargo")
        button(type="submit" class="btn btn-primary" id="createCargoOnStationButton") Додати
    table(id="cargoOnStationsList" class="table table-bordered table-hover")
        thead
            th ID
            th Станція
            th Вантаж
        tbody

block append scripts
    script(src='/public/js/cargoOnStations.js')