extends ../layout

block content
    h3 Планети
    form(class="form-inline")
        div(class="form-group")
            label ID
            input(type="number" class="form-control" id="inputId")
        div(class="form-group")
            label Назва
            input(type="text" class="form-control" id="inputName")
        div(class="form-group")
            label Маса
            input(type="number" class="form-control" id="inputMass")
        div(class="form-group")
            label Місткість
            input(type="number" class="form-control" id="inputCapacity")
    button(type="submit" class="btn btn-primary" id="createUserButton") Додати
    form(class="form-inline")
        div(class="form-group")
            label Знайти за id
            input(type="number" class="form-control" id="inputWhatToFind")
        button(type="submit" class="btn btn-primary" id="findUserButton") Знайти
    table(id="planetsList" class="table table-bordered table-hover")
        thead
            th ID
            th Назва
            th Маса
            th Місткість
            th Видалити
            th Редагувати
        tbody

block append scripts
    script(src='/public/js/planets.js')